# Tipe-tipe Data Python

Python memiliki banyak sekali tipe-tipe data, terdapat beberapa tipe data yang sering digunakan dalam pemograman python. Seperti:
1. Interger (int): tipe data yang berisikan bilangan bulat. Misalnya 25

2. Float (float): tipe data yang berisikan bilangan pecahan atau sederhananya yang memiliki koma. Misalnya 25.3

3. String (str): tipe data yang berisikan teks. Misalnya "ayo belajar python" (dalam membuat string, dapat menggunakan kutip dua contoh "nama" dan kutip satu contoh 'nama' keduanyga memiliki arti atau makna yang sama)
    
4. Boolean (bool): tipe data yang berisikan True dan False. Dalam sehari-hari bisa diartikan sebagai Iya dan Tidak. Jika di ubah menjadi angka maka True bernilai 1 dan False bernilai 0. Huruf awal wajib kapital. Misalnya sudah_menikah = True
    
5. Complex: tipe data untuk menyatakan pasangan angka real dan angka imajiner. Misalnya 1 + 5j

6. Hexadecimal: bilangan dalam format hexa (berbasis 16). Misalnya 1a3

7. List: data untaian untuk menyimpan berbagai tipe data dan isinya dapat diubah-ubah sesuai kehendak. Misalnya nilai_mahasiswa = [95, 83, 65, 78, 90]

8. Tuple: tipe dapat yang sama seperti list tetapi isinya tidak bisa dimodifikasi, sekali dibuat maka tidak dapat diubah lagi. Misalnya ktp = (1457595, 415423)
    
9. Dictonary: tipe data untaian untuk menyimpan berbagai tipe data, yang berisikan pasangan petunjuk dan nilai. Misalnya {'nama':'adi', 'id':2}

Untuk mengetahui tipe data pada suatu nilai atau variabel, dapat menggunakan fungsi type()

In [1]:
# Tipe data Interger
print(type(25))

umur = 21
print(type(umur))

<class 'int'>
<class 'int'>

In [2]:
# Tipe data Float
print(type(16.3))

tinggi = 187.3
print(type(tinggi))

<class 'float'>
<class 'float'>

In [3]:
# Tipe data String
print(type('ayo belajar python'))

nama = 'Muhamad Hadiyansyah'
print(type(nama))

<class 'str'>
<class 'str'>

In [4]:
# Tipe data Boolean
print(type(True))

sudah_menikah = False
print(type(sudah_menikah))

<class 'bool'>
<class 'bool'>

In [9]:
# Tipe data kompleks
print(type(1 + 5j))

<class 'complex'>

In [6]:
# Tipe data list
nilai_mahasiswa = [95, 83, 65, 78, 90]
print(type(nilai_mahasiswa))

<class 'list'>

In [7]:
# Tipe data tuple
nilai = (95, 43)
print(type(nilai))

<class 'tuple'>

In [8]:
# Tipe data dictonary
biodata = {'nama':'adi', 'id':2}
print(type(biodata))

<class 'dict'>

In [10]:
panjang = 5
lebar = 10.5
luas = panjang * lebar

print(panjang, '*', lebar, '=', luas)
print('tipe data panjang: ', panjang, '>>', type(panjang))
print('tipe data lebar: ', lebar, '>>', type(lebar))
print('tipe data luas: ', luas, '>>', type(luas))

5 * 10.5 = 52.5
tipe data panjang:  5 >> <class 'int'>
tipe data lebar:  10.5 >> <class 'float'>
tipe data luas:  52.5 >> <class 'float'>

In [11]:
a = 5j
b = 10j
c = a + b

print(a, '+', b, '=', c)
print('tipe data a: ', type(a))
print('tipe data b:', type(b))
print('tipe data c:', type(c))

5j + 10j = 15j
tipe data a:  <class 'complex'>
tipe data b: <class 'complex'>
tipe data c: <class 'complex'>

Catatan: 
> Setiap tipe data memiliki perlakuan masing-masing. Seperti dalam operasi perhitungan, tipe data satu dapat berbeda dengan tipe data lainnya dalam memperlakukan operasi perhitungan.

> Misalnya ketika melakukan penjumlahan antara tipe data interger dengan interger maka akan melakukan perhitungan. Namun ketika melakukan penjumlahan antara tipe data string dengan string maka hanya akan menggabungkan bukan perhitungan. 

> Kesimpulannya adalah pelaksanaan kode bergantung pada tipe data, berbeda tipe data dapat berbeda pula pelaksanaannya. Namun terdapat juga beberapa pelaksanaan yang dapat di beberapa tipe data, seperti perhitungan yang pelaksanaannya sama antara tipe data interger maupun tipe data float.

In [13]:
# perhitungan interger dengan interger
nilai = 8

total_nilai = nilai + nilai
print(total_nilai)

16

In [12]:
# perhitungan string dengan string
nama = 'Hadi'

dua_nama = nama + nama
print(dua_nama)

HadiHadi

#  Konversi Tipe Data

Python dapat mengubah suatu tipe data ke tipe data yang lain. Misalnya tipe data interger, berubah menjadi tipe data string. Terdapat dua cara, yaitu konversi implisit dengan konversi eksplisit.

Dalam konversi tipe implisit, interpreter Python secara otomatis mengonversi satu tipe data ke tipe data lainnya tanpa keterlibatan pengguna.

In [14]:
# Contoh konversi tipe data secara implisit
x = 10
y = 10.6
z = x + y

print('x is the type:', type(x))
print('y is the type:', type(y))
print('z is the type:', type(z))

x is the type: <class 'int'>
y is the type: <class 'float'>
z is the type: <class 'float'>

Dalam Konversi Eksplisit, tipe data diubah secara manual oleh pengguna sesuai kebutuhan.

> Menggunakan fungsi int() untuk mengubah menjadi tipe data Interger

> Menggunakan fungsi float() untuk mengubah menjadi tipe data Float

> Menggunakan fungsi str() untuk mengubah menjadi tipe data String

> Menggunakan fungsi bool() untuk mengubah menjadi tipe data Boolean

In [16]:
# Contoh konversi tipe data secara eksplisit


# initializing  string
s = '10010'

# printing string converting to int base 2
c = int(s, 2)
print("After converting to interger base 2: ", end="")

# printing string converting to float
e = float(s)
print("After converting to float: ", end="")
print(e)

After converting to interger base 2: After converting to float: 10010.0

In [17]:
tabungan = 300000
pertumbuhan_investasi = 1.1
deskripsi = "compound interest"

tahun_1 = tabungan * pertumbuhan_investasi

# print tipe data tahun_1
print(type(tahun_1))

# melakukan penjumlahan pada variabel deskripsi
deskripsi_2 = deskripsi + deskripsi

# Print deskripsi_2
print(deskripsi_2)

<class 'float'>
compound interestcompound interest

In [20]:
# mendefinisikan variabel tabungan dan hasil
tabungan = 300000
hasil = 300000 * 1.1 ** 7

# print tabungan dan nilai dan diberi keterangan string
print("Saya menabung sebesar " + str(tabungan) + " rupiah dan sekarang menjadi " + str(hasil) + " rupiah")

# mendefinisikan variabel pi_string
pi_string = "3.1415926"

# mengkonversi pi_string menjadi tipe data float: pi_float
pi_float = float(pi_string)

Saya menabung sebesar 300000 rupiah dan sekarang menjadi 584615.1300000004 rupiah

Catatan:
Perlu diingat bahwa python tidak dapat menampilkan dua atau lebih tipe data dalam satu tampilan. Maka dari itu, harus di konversi dahulu seperti pada kode ini print("Saya menabung sebesar " + str(tabungan) + " rupiah dan sekarang menjadi " + str(hasil) + " rupiah"). Jika tidak dikonversi terlebih dahulu maka akan menghasilkan error

In [22]:
# Contoh error
print("Jawaban yang benar adalah " + 76)

TypeError: can only concatenate str (not "int") to str

In [23]:
# Cara memperbaiki
print("Jawaban yang benar adalah " + str(76))

Jawaban yang benar adalah 76